@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-desaturated-dark-cyan: 180 29% 50%;
    --light-grayish-cyan-bg: 180 52% 96%;
    --light-grayish-cyan-filter: 180 31% 95%;
    --dark-grayish-cyan: 180 8% 52%;
    --very-dark-grayish-cyan: 180 14% 20%;
  }
}
